.acme-navbar-text {
  color: white;
}
.active{
  border-bottom: white solid 3px !important;
  margin-bottom: 3px;
}
.navbar-title{
  color: white;
  font-size: 32px;
  margin-bottom: 6px;
  padding: 20px;
  cursor: pointer;
  font-family: serif;
}
.navbar{
  padding-top: 30px;
  width: 100%;
}
.navbar-nav li{
  letter-spacing: 2px;
  margin-top: 20px;
}
.navbar-nav li:hover{
  margin-bottom: -3px;
  border-bottom: red 3px solid;
}
.navbar-image{
  color: gray;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.navbar-image:hover{
  cursor: pointer;
  color: white;
  margin-bottom: -3px;
  border-bottom: red 3px solid;
}
.close-mobile-navbar{
  position: fixed;
  right: 20;
  top: 20;
}
.nav-mobile-options{
  margin-top: 50px;
}
.navbar-modal-option{
  margin-left: 20px;
  color: white;
  font-size: 48px;
}
#navbarModal, #servicesModal{
  background-color: #031633;
}
.navbar-mobile{
  padding: 20px;
  background-color: black;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
