/*@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


}*/

.acme-navbar-text {
  color: white;
}
.active{
  border-bottom: white solid 3px !important;
}
.navbar-title{
  color: white;
  font-size: 32px;
  margin-bottom: 6px;
  margin-left: 5%;
  cursor: pointer;
  font-family: serif;
}
.navbar{
  padding-top: 30px;
}
.navbar-nav li{
  letter-spacing: 2px;
}
.navbar-nav li:hover{
  border-bottom: red 3px solid;
}
.navbar-image{
  color: gray;
  margin-left: 20px;
  margin-top: 5px;
  padding-bottom: 6px;
}
.navbar-image:hover{
  cursor: pointer;
  color: white;
  margin-bottom: -3px;
  border-bottom: red 3px solid;
}
