<!-- <nav class="navbar navbar-static-top navbar-inverse">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-11">
      <ul class="nav navbar-nav">

      </ul>

    </div>
  </div>
</nav> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="about"><span class="pull-left navbar-title">Alexander B Hanneman</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="about">About</a></li>
      <li><a href="..\..\..\assets\Alex_B_Hanneman's_Resume.pdf" target="_blank">Resume</a></li>
      <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
      <li ui-sref-active="active"><a ui-sref="portfolio">Portfolio</a></li>
    </ul>
    <span class="navbar-images">
      <a class="navbar-image pull-right" href="https://www.linkedin.com/in/alexander-hanneman-7154b960" target="_blank"><span class="fa fa-linkedin fa-3x"></span></a>
      <a class="navbar-image pull-right" href="https://github.com/alexbhanneman" target="_blank"><span class="fa fa-github fa-3x"></span></a>
    </span>
  </div>
</nav>
